@using CRM.Models;
@model IEnumerable<Blog> 

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style1.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost:wght@300&display=swap" rel="stylesheet">
</head>

<header class="header">
    <div class="conteiner">
        <div class="header__inner">
            <div class="header__logo">CRM - проект</div>

            <nav class="nav">
                <a class="nav__link" asp-controller="Home" asp-action="Index">Главная</a>
                <a class="nav__link" asp-controller="Home" asp-action="Service">Услуги</a>
                <a class="nav__link" asp-controller="Home" asp-action="Project">Проекты</a>
                <a class="nav__link" asp-controller="Home" asp-action="Blog">Блог</a>
                <a class="nav__link" asp-controller="Home" asp-action="Contact">Контакты</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="nav__link" asp-controller="Account" asp-action="Login">Войти</a>
                }
            </nav>
        </div>
    </div>
</header>

<section class="section1">
    <div class="conteiner_1">
        <div class="section_header">
        </div>

        <div class="blog">
            @*<div class="blog__item">

                <div class="blog__image">
                    <img src="~/css/images/blog/1.jpg" />
                </div>

                <nav class="nav">
                    <a class="nav__link1" href="#">Производственная безопасность</a>
                </nav>

                <div class="blog__text">
                    <p>
                        Решения — обеспечивают — автоматизацию
                        процессов учета, планирования, контроля и
                        формирования аналитической отчетности в
                        соответствии с требованиями  законодательства
                        РФ, отраслевой и корпоративной
                        ‘специфики.
                    </p>
                </div>
            </div>

            <div class="blog__item">
                <div class="blog__image">
                    <img src="~/css/images/blog/2.jpg" />
                </div>

                <nav class="nav">
                    <a class="nav__link1" href="#">Производственная безопасность</a>
                </nav>

                <div class="blog__text">
                    <p>
                        Решения — обеспечивают — автоматизацию
                        процессов учета, планирования, контроля и
                        формирования аналитической отчетности в
                        соответствии с требованиями  законодательства
                        РФ, отраслевой и корпоративной
                        ‘специфики.
                    </p>
                </div>
            </div>

            <div class="blog__item">
                <div class="blog__image">
                    <img src="~/css/images/blog/3.jpg" />
                </div>

                <nav class="nav">
                    <a class="nav__link1" href="#">Производственная безопасность</a>
                </nav>

                <div class="blog__text">
                    <p>
                        Решения — обеспечивают — автоматизацию
                        процессов учета, планирования, контроля и
                        формирования аналитической отчетности в
                        соответствии с требованиями  законодательства
                        РФ, отраслевой и корпоративной
                        ‘специфики.
                    </p>
                </div>
            </div>*@

            @foreach(var a in Model)
            {
                <div class="blog__item">

                    <div class="blog__image">
                        <img src="~/image/blog/@a.Path
">
                    </div>

                    <nav class="nav">
                        <a class="nav__link1" href="#">@a.Name</a>
                    </nav>

                    <div class="blog__text">
                        <p>
                            @a.Text
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>